@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --lightWeight: 200;
  --headingWeight: 700;
  --heavyWeight: 900;
  --main: "Kanit";
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url("./assets/rings_alone.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: var(--main);
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem;
  width: 100vw;
}
h1 {
  color: #fff;
  font-size: 4rem;
}
.create-container {
  display: flex;
  gap: 2rem;
}
.new-entry {
  color: #fff;
  font-size: 3rem;
  margin-inline-start: 5rem;
}
.plus-icon {
  color: #fff;
  font-size: 3rem;
  /* font-style: italic; */
  cursor: pointer;
  animation: breathe 2s ease infinite;
}
@keyframes breathe {
  from {
    color: #fff;
    scale: 1;
  }
  50% {
    color: #b1dbc8;
    scale: 1.4;
  }
  to {
    color: #fff;
    scale: 1;
  }
}
.modal {
  display: none;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.8);
  /* background: #b1dbc87d; */
  width: 50vw;
  height: 25vh;
  position: absolute;
  top: 20%;
  left: 30%;
  z-index: 5;
}
.confirm-msg {
  font-size: 2rem;
  color: #fff;
}
.ok {
  width: 50%;
  font-family: var(--main);
}
.journal-container {
  display: none;
  justify-content: center;
  align-items: center;
  position: relative;
}
.close-form {
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  border: 0;
  border-radius: 10px;
  font-size: 1.5rem;
  position: absolute;
  bottom: 15px;
  left: 15px;
  cursor: pointer;
  font-family: var(--main);
}
.create-entry {
  position: relative;
  background: rgba(0, 0, 0, 0.3);
  padding-block: 5rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  width: 90vw;
  justify-content: space-between;
  color: #fff;
}
.portal-container {
  flex: 1.5;
  gap: 5rem;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.og-glyphs-container {
  gap: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.row-1,
.row-2 {
  display: flex;
}
img {
  width: 100px;
  height: auto;
  rotate: 18deg;
}
.glyph-img {
  cursor: pointer;
}
@keyframes appear {
  from {
    filter: drop-shadow(0px 0px 0rem #e892ef);
  }
  50% {
    opacity: 1;
    filter: drop-shadow(1px 1px 1.5rem #e892ef);
  }
  to {
    filter: drop-shadow(0px 0px 0rem #e892ef);
  }
}
.chosen-glyphs-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1.25%;
  width: 80%;
  height: 155px;
  padding-inline: 1.2rem;
  box-shadow: 0 0 0.75rem #777777b1;
}
.chosen-glyphs-container::after {
  content: "";
  display: var(--none, none);
  position: absolute;
  inset: 0;
  border: 4px solid #cfffea;
  background: rgba(0, 0, 0, 0.3);
  z-index: -1;
  animation: appear 2s ease infinite;
}
@keyframes emptyGlow {
  from {
    background: rgba(0, 0, 0, 1);
  }
  50% {
    background: rgba(0, 0, 0, 0.2);
  }
  to {
    background: rgba(0, 0, 0, 1);
  }
}
.selected {
  width: 80px;
  height: auto;
  animation: appear 5s ease infinite;
  position: relative;
  display: block;
}
button {
  padding: 1rem 2rem;
  font-family: 'Kanit';
}
.stored-addresses {
  display: none;
  flex-direction: column;
  align-items: center;
  height: 35vh;
  padding-block-start: 2rem;
  /* color: #fff; */
}
.stored-h2 {
  display: none;
  color: #fff;
  padding-block-end: 2rem;
}
.explored-img {
  width: 100px;
  height: auto;
  rotate: 18deg;
}
/* ~ //////////////////////////// */
/* !  //  INPUT CONTAINER        */
/* ~ //////////////////////////// */
.input-container {
  display: flex;
  flex: 1.5;
  flex-direction: column;
  gap: 5rem;
  justify-content: center;
  padding-inline: 1rem;
}
.system-container {
  display: flex;
  align-items: center;
  gap: 50px;
}
.system-name {
  display: flex;
  align-items: center;
  gap: 25px;
}
.classification {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  gap: 15px;
}
.star-container {
  display: flex;
  align-items: center;
  gap: 15px;
}
input[type=text] {
  padding-block: .5rem;
  padding-inline: 10px;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-family: var(--main);
}
input[type=radio] {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.4);
}
label {
  font-size: 1.5rem;
}
select {
  padding-block: .5rem;
  padding-inline: 10px;
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-family: var(--main);
}
.selections-container {
  display: flex;
  align-items: flex-start;
  margin-block: 5rem;
  gap: 50px;
}
.type-container {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 1.5rem;
}
.strength-container {
  flex: 1;
  display: flex;
  align-items: flex-start;
  gap: 25px;
}
.strength-input-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.input-header {
  font-size: 1.5rem;
  font-weight: var(--headingWeight);
  letter-spacing: 1px;
}
.strength {
  font-size: 1.5rem;
  display: flex;
  gap: 15px;
}
.economy-strength {
  width: 20px;
  background: rgba(0, 0, 0, 0.4);
}
.species-container {
  flex: 1;
  display: flex;
  gap: 25px;
}
.race {
  display: flex;
  align-items: center;
  gap: 15px;
}
#race-input {
  width: 20px;
  height: 20px;
}
.race-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.notes-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
#journal-notes {
  width: 70%;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  border: 0;
  border-bottom: 10px;
  font-size: 1.25rem;
  font-family: var(--main);
  padding: 10px;
}
.btn-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.add-btn {
  cursor: pointer;
  color: #fff;
  border-radius: 10px;
  border: 0;
  font-size: 1.75rem;
  width: 80%;
  font-weight: var(--heavyWeight);
  letter-spacing: 1px;
  background: #00000089;
}

/* .chosen-glyphs {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  padding-block: 1rem;
  position: relative;
  animation: appear 0.5s ease;
} */
